{%extends 'base.html'%}

{%block title%}Users Home Page{%endblock%}

{%block content%}
    <h1>Welcome!</h1>
    <div class="outer_container">

    
        <form action="/home">
            <button class="btn_add">List of Users</button>
        </form>
        <form action="/tags_list">
            <button class="btn_add">List of Tags</button>
        </form>
        <form action="/new_user">
            <button class="btn_add">Create New User</button>
        </form>
        <form action="/new_tag">
            <button class="btn_add">Create a new Tag!</button>
        </form>

    </div>


{%endblock%}