{%extends 'base.html'%}

{%block title%}Users Home Page{%endblock%}

{%block content%}
<h1>{{posts.title}}</h1>
<div class="outer_container">
    <p>{{posts.content}}</p>
    <p>{{posts.id}}</p>
    <p>By: <a href="/{{person.id}}/details" class="list"> {{person.first_name}} {{person.last_name}}</a></p>
        <div class="inner_container">
            <p><a href="/{{posts.id}}/edit_post" class = "btn_add">Edit Post</a></p>

            <form action="/{{posts.id}}/deletepost">
                <button class=btn_remove>Delete Post</button>
            </form>

        </div>


    </div>


{%endblock%}

{%block footer%} <a href="/">Back Home</a> {%endblock%}